.main {
    display: flex;
    justify-content: space-around;
}

.mainDark {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: #161618;
    color: #DCDCDC;
}