.blog, .blogDark{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 100%;
}

.blogDark {
    background-color: #161618;
    color: #DCDCDC;
}

.headlineBlock {
    width: 20%;
    margin-bottom: 20px;
    border: #DCDCDC 2px solid;
    border-radius: 5px;
    font-family: Manrope, Roboto;
}
.headlineBlock a:hover{
    text-decoration: underline;
}
.blogDark .blogListElement {
    color: #DCDCDC;
}
.blogHeadlineList {
    padding-top: 40px;
}
.blogHeadlineList li{
    margin: 10px 0;
    text-align: center;
    font-family: Manrope, Roboto;
}
.blogHeadlineList li a{
    font-size: 22px;
    font-weight: 600;
}

.blogText {
    width: 60%;
    margin-bottom: 20px;
    font-family: Manrope, Roboto;
}
.blogText h1 {
    text-align: center;
}

.blogArticleText {
    margin: 40px 0 0 10%;

    font-size: 20px;
}

.blogHeadlineList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}