.main {
    height: 100%;
    display: grid;
    grid-template-areas: "hello avatar";
    grid-template-columns: 6fr 3fr;
}

.hello {
    grid-area: hello;
    text-align: center;
    font-family: Manrope, Roboto;
}

.helloTextBlock {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}

.helloTextBlock p {
    font-weight: 400;
    font-size: 20px;
}

.avatar {
    grid-area: avatar;
}