.header {
    grid-area: head;
    background: linear-gradient(#4169E1,#87CEFA);
    border-radius: 0 0 20% 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.headerDark {
    grid-area: head;
    background: linear-gradient(#000000,#222222);
    color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}