.h1 {
    opacity: 1;
    animation: flickerI 4s linear  reverse infinite;
    text-shadow: 5px 0px 70px rgba(255,255,255,1);
}

.h2 {
    animation: flickerLG 4s linear reverse infinite;
}


@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}
.helloTextBlockDark {
    margin-top: 50px;
    width: 80%;
}

.helloTextBlockDark p {
    margin-top: 30px;
    width: 700px;
    font-weight: 400;
    font-size: 22px;
    animation: glitch 3s linear infinite;
}

helloTextBlockDark p:before,
helloTextBlockDark p:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

helloTextBlockDark p:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

p:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}

@keyframes flickerLG {
    0% {
        opacity: 0.2;
    }
    5% {
        opacity: 0.3;
    }
    10% {
        opacity: 0.45;
    }
    15% {
        opacity: 0.7;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.7;
    }
    35% {
        opacity: 0.09;
    }
    40% {
        opacity: 0.15;
    }
    45% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes flickerI {
    0% {
        opacity: 0.4;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.6;
    }
    15% {
        opacity: 0.85;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.25;
    }
    45% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.85;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
